:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'concert one', cursive;

  --br-s: 6px;
  --br-m: 8px;
  --br-l: 10px;

  --cell-size: 30px;
  --cell-content-size: 20px;

  --wall-bg-color: rgba(211, 211, 211, 0.96);
  --wall-border: 2px solid rgba(255, 255, 255, 0.509);

  --color-dark-primary: #27005e;
  --color-dark-secondary: rgba(40, 14, 87, 0.958);
  --color-light-primary: rgb(67, 31, 139);
  --color-light-secondary: rgba(67, 31, 139, 0.58);
  --color-selected: #e07575;

  --clr2: #ffffff;
  --clr1: #626262;
  --clr0: #b4ad9e;
  --clr-1: #f0f0f0;

  --shadow-glow-s: -1px 1px 2px #ffc, 1px -1px 2px #fff;
  --shadow-glow-m: -1px 1px 5px #ffc, 1px -1px 5px #fff;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
