ul .main-menu {
  height: 160px;
  align-items: center;
  align-content: space-around;
}

.main-menu a {
  height: 100%;
  /* border: 1px solid red; */
}

h3 {
  font-size: 3em;
  /* margin-block: 15px; */
  color: var(--color-dark-primary);
}
