.main-menu {
  background-color: var(--color-dark-primary);
  height: 100%;
}

.main-menu a {
  margin-inline-start: 2em;
  height: 100%;
  color: white;
}

.main-header {
  height: 100%;
  position: relative;
  background-color: var(--clr4);
  color: aliceblue;
  z-index: 1;
  box-shadow: inset 0px -6px 0 var(--clr6);
  margin-block-end: 30px;
}

.main-header .nav {
  padding: 20px;
  background-color: var(--color-dark-primary);
  height: 120px;
}

.main-header .main-nav a {
  width: var(--nav-height);
  height: 100%;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  display: flex;
  color: inherit;
  text-decoration: none;

  transition: box-shadow 0.4s;
}

.main-header .main-nav a.active {
  box-shadow: inset 0 -6px 0 var(--color-selected);
  color: #58c93a;
  cursor: auto;
}

.main-header .main-nav a:hover {
  box-shadow: inset 0 -6px 0 var(--color-selected);
}
