.input-panel {
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid var(--color-dark-primary);
  width: 60vw;
  max-height: 300px;
}

.input-panel * {
  margin: 6px;
  text-align: center;
}

.input-panel *:not(:first-child):not(.color-selector):not(.file-input) {
  place-self: center;
  font-size: 0.8rem;
  width: 100px;
  height: 60px;
  max-width: 60px;
  border: var(wall-border);
  background-color: var(--color-dark-primary);
  color: aliceblue;
  border-radius: var(--br-m);
}

/* button {
  font-size: 1em;
} */

input[type='file'] {
  width: 60px;
  font-size: 0.6rem;
  grid-column: 4;
  white-space: inherit;
}
.color-selector {
  place-self: center;
  font-size: 0.8rem;
  width: 100px;
  height: 60px;
  max-width: 60px;
  border: var(wall-border);
  background-color: aliceblue;
  color: aliceblue;
  border-radius: var(--br-m);
}

/* a {
  font-size: 1.5em;
} */
