.input-panel {
  grid-template-columns: repeat(4, 1fr);
  border: 6px solid var(--color-grey-primary);
  width: 60vw;
  max-height: 380px;
}

.input-panel * {
  margin: 6px;
  text-align: center;
}

.input-panel
  *:not(:first-child):not(.color-selector):not(.file-input):not(.font-size):not(.font-container) {
  place-self: center;
  font-size: 0.8rem;
  width: 100px;
  height: 60px;
  max-width: 60px;
  border: var(wall-border);
  background-color: var(--color-grey-primary);
  color: black;
  border-radius: var(--br-m);
}

.font-size {
  margin-block-start: 5px;
  width: 50px;
}

.emoji-btn {
  font-size: 1.3em !important;
}

.font-container {
  width: 100px;
  height: 60px;
  max-width: 60px;
  border: var(wall-border);
  background-color: var(--color-grey-primary);
  border-radius: var(--br-m);
}

.font-container select {
  width: 45px;
  margin-block-end: 0px;
}

input[type='file'] {
  width: 60px;
  font-size: 0.6rem;
  white-space: inherit;
}
.color-selector {
  place-self: center;
  font-size: 0.8rem;
  width: 100px;
  height: 60px;
  max-width: 60px;
  border: var(wall-border);
  background-color: aliceblue;
  color: aliceblue;
  border-radius: var(--br-m);
}
